<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
   <title>404 - Nabanane.by</title>
<base href="http://www.nabanane.by/"/>
		<meta name="description" content=""/>
		<meta name="keywords" content="404"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="assets/templates/fonts/style.css"/>
        <link rel="stylesheet" type="text/css" href="assets/templates/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="assets/templates/js/fancybox/jquery.fancybox.css">
        <link rel="stylesheet" type="text/css" href="assets/templates/css/slick.css"/>
        <link rel="stylesheet" type="text/css" href="assets/templates/css/mislider.css"/>
		<link rel="stylesheet" type="text/css" href="assets/templates/css/style2.css"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 

	<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  

		
		<meta property="og:title" content="404 - Nabanane.by"/>
		<meta property="og:type" content="article"/>
		<meta property="og:site_name" content="Banana air sofa™"/>
		<meta property="og:image" content="http://nabanane.by/templates/delab/img/slider/1.jpg"/>
		<meta property="og:description" content=""/>
		<meta property="og:url" content="http://www.nabanane.by/"/>
		<link rel="image_src" href="http://nabanane.by/templates/delab/img/slider/1.jpg"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		
		<link rel="shortcut icon" href="/uploads/images/favicon.png" type="image/x-icon"/>
		<link rel="apple-touch-icon" href="assets/templates/img/apple-touch-icon.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="assets/templates/img/apple-touch-icon-72x72.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="assets/templates/img/apple-touch-icon-114x114.png"/>
        <meta name="yandex-verification" content="7ce4467d3ec225e0" />
<!--     	<script>
    				!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    				n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    				n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    				t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    				document,'script','https://connect.facebook.net/en_US/fbevents.js');
    				fbq('init', '1679960062247876');
    				fbq('track', "PageView");
    			</script>
    	        <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=Q8lQuj9hlN68cB7p51pn2oHWlJAVIXVC9jf4Qjf9fRLUEHfMfL63oZmntXE6oiFPI3MjvjmoB1WjMe8S7ceAg03bu4FZQ4vzEvjRSKfNnMvVK1gS8CfZz9kdb3oA7LKURClSYfLohRcCw3FVOCF3q0/U6B8CD8/3L7xAVDGbr3c-';</script> -->
		
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89041448-1', 'auto' , {"userId":"c4ca4238a0b923820dcc509a6f75849b"});
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
  
  ga('require', 'ec');

</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '620745701619923');
  fbq('track', 'PageView');
</script>
<noscript>
	<img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=620745701619923&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->



    	</head>

    <body class=" index computer Belarus">
        <div class="wrapper">
					
						<div class="main">
	<div class="section">
		<div class="header">
	<div class="container">
		<div class="row">
		<div class="clearfix">
			
			<div class="mobile-fixed">
				<div class="col-md-2 col-sm-3 col-xs-8">
				<a href="http://nabanane.by/" class="logo">
				<img src="assets/templates/images/elements/logo.png">
			</a>
			</div>
			<div class="col-md-6 col-sm-7 col-xs-4">
			  <div class="site-top">
				 <button class="toggle-hamburger toggle-hamburger__animx">
                   <span>menu toggle</span>
                 </button>
								<nav class="stickyMenu">
	
	<ul><li class="first level1 odd"><a href="/tyubing">Тюбинги</a></li><li class="level1 even"><a href="/o-nas">О нас</a></li><li class="level1 odd"><a href="/dostavka">Доставка</a></li><li class="level1 even"><a href="/gde-kupit">Где купить</a></li><li class="level1 odd"><a href="/voprosy-i-otvety">Вопросы и ответы</a></li><li class="level1 even"><a href="/kontakty">Контакты</a></li><li class="last level1 odd"><a href="/blog">Блог</a></li></ul>	

</nav>		
			  </div>
		    </div>
			</div>
			
			<div class="mobile-mt">
			<div class="col-md-4 col-xs-12">
			     <div class="header-right">
				<div class="phone">
					<a href="tel:+375291940094"><span>+375 (29)</span> 855 99 00</a>
				</div>
				<div class="call-back-wrap">
					<a data-fancybox="" data-src="#order-modal" href="javascript:;"
					   data-from="Заказ звонка. Шапка сайта."
					   data-title="Оставьте заявку"
					   data-subtitle="и мы свяжемся<br>с вами в ближайшее время"
					   data-btn="Отправить"
					   data-thanks="call_back"
					   class="modal-open order-link call-back-link">Заказать звонок</a>
				</div>
			</div>
				
			</div>
			</div>
		</div>
	</div>
		
</div>	

<div class="page">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-xs-12">
					<div class="m-d-9 decor"></div>
					<div class="m-d-10 decor"></div>
					<div class="m-d-11 decor"></div>
					<div class="title">
						<h1>404</h1>
					</div>
					<div class="page-text">
						
                             <h1>Страница не найдена 404</h1>
<p>&nbsp;</p>	
					</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>           



<div class="footer">
                <div class="ft-d-1 decor"></div>
                <div class="ft-d-2 decor"></div>
                <div class="ft-d-3 decor"></div>
                <div class="ft-d-4 decor"></div>
                <div class="ft-d-5 decor"></div>
                <div class="container">
					<div class="row">
						<div class="">
                        <div class="col-md-4 col-xs-12 footer-col">
                            <div class="footer-left">
                                <div class="footer-item footer-phone_wrap"><a href="tel:+375298559900" class="footer-phone"><span>+375 (29)</span> 855 99 00</a></div>
                                <div class="footer-item">
                                    <a href="mailto:relax@nabanane.by" class="footer-email">relax@nabanane.by</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 footer-col">
							<div class="address-icon"></div>
							<div class="footer-address">ул. Тимирязева 72/1 ком. 310/3</div>
							<div class="footer-center-wrap">
								<a href="#order-modal" data-from="Получить оптовое предложение. Подвал сайта." data-title="Оставьте заявку" data-subtitle="и мы свяжемся<br>с вами в ближайшее время" data-btn="Отправить" data-thanks="opt" class="order-link modal-open opt-link">Получить оптовое предложение</a>
							</div>
                        </div>
						<div class="col-md-4 col-xs-12 footer-col">
							<div class="footer-social">
																	<a href="https://www.instagram.com/nabanane_official" target="_blank">
										<img src="assets/templates/images/elements/in-icon.png">
									</a>
																									<a href="https://www.facebook.com/nabananeofficial/" target="_blank">
										<img src="assets/templates/images/elements/f-icon.png">
									</a>
																									<a href="https://vk.com/bananairsofa" target="_blank">
										<img src="assets/templates/images/elements/vk-icon.png">
									</a>
																									<a href="https://www.youtube.com/c/nabananeByBanana" target="_blank">
										<img src="assets/templates/images/elements/youtube-icon.png">
									</a>
															</div>
						</div>
                    </div>
					</div>
					
                </div>
				<div class="footer-menu-wrapper">
					<div class="container">
						<div class="clearfix">
							<div class="footer-col-4">
							   <div class="footer-menu">
									<h3>О компании</h3>
									<ul class="fmenu">
										
<li>
	<a href="http://www.nabanane.by/o-nas" title="О нас">О нас</a>
</li>
<li>
	<a href="http://www.nabanane.by/kontakty" title="Контакты">Контакты</a>
</li>
<li>
	<a href="http://www.nabanane.by/gde-kupit" title="Где купить">Где купить</a>
</li>
									</ul>
								</div>
							</div>
							<div class=" footer-col-4">
								<div class="footer-menu">
									<h3>Сервис и помощь</h3>
									<ul class="fmenu">
										
<li>
	<a href="http://www.nabanane.by/kak-sdelat-zakaz" title="Как сделать заказ">Как сделать заказ</a>
</li>
<li>
	<a href="http://www.nabanane.by/vozvrat-tovara" title="Возврат товара">Возврат товара</a>
</li>
<li>
	<a href="http://www.nabanane.by/dostavka" title="Доставка">Доставка</a>
</li>
									</ul>
									<ul class="fmenu">
										
<li>
	<a href="http://www.nabanane.by/sposoby-oplaty" title="Способы оплаты">Способы оплаты</a>
</li>
<li>
	<a href="http://www.nabanane.by/pravila-prodazhi-tovarov-v-internet-magazine-nabanane" title="Правила продажи">Правила продажи</a>
</li>
<li>
	<a href="http://www.nabanane.by/vozvrat-denezhnyh-sredstv" title="Возврат денежных средств">Возврат денежных средств</a>
</li>
<li>
	<a href="http://www.nabanane.by/voprosy-i-otvety" title="Вопросы и ответы">Вопросы и ответы</a>
</li>
									</ul>
								</div>
							</div>
							<div class=" footer-col-4">
								<div class="footer-made">
									<h3>Банановый блог</h3>
									<ul class="fmenu">
										    <li><a href="http://www.nabanane.by/blog/preimushchestva-naduvnyh-divanov-shezlongov-banana-air-sofa" title="">Преимущества и отличия надувных диванов-шезлонгов BANANA air sofa</a></li>
    <li><a href="http://www.nabanane.by/blog/kak-pravilno-polzovatsia-naduvnym-divanom-shezlongom" title="">Как правильно пользоваться надувным диваном-шезлонгом?</a></li>
    <li><a href="http://www.nabanane.by/blog/naduvnoi-divan-shezlong" title="">Надувной диван-шезлонг</a></li>
									</ul>
								</div>
							</div>
							<div class=" footer-col-4">
							   <div class="footer-menu">
									<h3>Юр.инфо</h3>
									<p>ООО «Белазис» УНП 192473639<br>Гос.регистрация от 08.05.2015 Миноблисполкомом<br>
									Дата регистрации в торговом реестре: 30.03.2016 №315977 Миноблисполкомом<br>
									<br>Юр.адрес: 220035, РБ, г.Минск, ул. Тимирязева 72/1 ком. 310/3<br>Время работы: 10:00—20:00 пн—вскр.</p>
									<p>Онлайн оплата осуществляется через систему электронных платежей <a href="https://webpay.by/" title="WebPay">WebPay</a></p>
									<!-- <img src="assets/templates/banana/images/webpays_logos.png" alt="" title="" class="img-responsive"> -->
								</div>
							</div>
						</div>
						<div class="clearfix rights">
							<p>Copyright 2016 ©</p>
						</div>
					</div>
				</div>
            </div>
<script>
	$(function(){
	 $('.toggle-hamburger').on('click', function(){
	  $(this).toggleClass('is-active');
		 $(this).closest('.site-top').find('nav').toggleClass('active');
	 })
	})
		
		

</script>
  <div class="modals">
            <div id="video-modal"></div>
            <div id="order-modal">
                <div class="order-form">
                    <a href="javascript:void(0)" class="close-modal"></a>
                    <div class="order-form-title">
                        Оставьте заявку
                    </div>
                    <div class="order-form-subtitle">
                        и мы свяжемся<br>
                        с вами в ближайшее время
                    </div>
                    <form method="post" action="" data-thanks="">
                        <div class="clearfix form-row">
                            <div class="form-col">
                                <input type="text" name="name" placeholder="Имя">
                            </div>
                            <div class="form-col">
                                <input type="text" name="phone" placeholder="Телефон*">
                            </div>
                            <div class="form-col">
                                <input type="text" name="email" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="order-btn-wrap">
                            <a href="javascript:void(0)" class="send order-btn">Отправить</a>
                        </div>

                        <input type="hidden" name="from" value="Оставьте заявку сейчас. Блок - Banana Air Sofa подарок, который обязательно понравится.">
                    </form>
                </div>
            </div>
			<div id="thanks-modal">
                <div class="order-form">
                    <a href="javascript:void(0)" class="close-modal"></a>
                    <div class="order-form-title">
                        Спасибо!
                    </div>
                    <div class="order-form-subtitle">
                        мы свяжемся с Вами
                    </div>
					<div class="thanks-social-label">
						Мы в соцсетях
					</div>
					<div class="footer-social">
													<a href="https://www.instagram.com/nabanane_official" target="_blank">
								<img src="assets/templates/images/elements/in-icon.png">
							</a>
																			<a href="https://www.facebook.com/nabananeofficial/" target="_blank">
								<img src="assets/templates/images/elements/f-icon.png">
							</a>
																			<a href="https://vk.com/bananairsofa" target="_blank">
								<img src="assets/templates/images/elements/vk-icon.png">
							</a>
																			<a href="https://www.youtube.com/c/nabananeByBanana" target="_blank">
								<img src="assets/templates/images/elements/youtube-icon.png">
							</a>
											</div>
                </div>
            </div>
			<div id="bonus-modal">
                <div class="order-form">
                    <a href="javascript:void(0)" class="close-modal"></a>
                    <div class="order-form-subtitle">
						За проявленный Вами интерес к нашей рекламе дарим<br/>
                    </div>
					<div class="thanks-social-label">
						промокод НАДУЙИКАЙФУЙ со скидкой 5%<br/>
						при заказе первого BANANA<br/>
						<small>(сообщить менеджеру после оформления заказа)</small>
					</div>
                </div>
            </div>
        </div>
        <!— Yandex.Metrika counter —> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40473435 = new Ya.Metrika({ id:40473435, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40473435" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!— /Yandex.Metrika counter —>
    		<!-- Pixel -->
<script type="text/javascript">
    (function (d, w) {
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "//sas-pro.ru/pixel/index.php?img=XFZDGFVWVVxcV0dSXUcfUEo=&nid=158659&uid=1685&ref="+d.referrer+"&cookie=" + encodeURIComponent(document.cookie);

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window);
</script>
<!-- /Pixel -->

      <script type="text/javascript" src="assets/templates/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="assets/templates/js/waypoints.min.js"></script>
        <script type="text/javascript" src="assets/templates/js/jquery.mousewheel.js"></script>
       <!--  <script type="text/javascript" src="assets/templates/js/fancybox/jquery.fancybox.pack.js"></script> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>

        <script type="text/javascript" src="assets/templates/js/nicescroll.js"></script>
        <script type="text/javascript" src="assets/templates/js/slick.min.js"></script>
        <script type="text/javascript" src="assets/templates/js/main.js"></script>
		<script type="text/javascript" src="assets/templates/js/calc2.js"></script>

        </div>
        <div class="modals">
            <div id="video-modal"></div>
            <div id="order-modal">
                <div class="order-form">
                    <a href="javascript:void(0)" class="close-modal"></a>
                    <div class="order-form-title">
                        Оставьте заявку
                    </div>
                    <div class="order-form-subtitle">
                        и мы свяжемся<br>
                        с вами в ближайшее время
                    </div>
                    <form method="post" action="send.php" data-thanks="">
                        <div class="clearfix form-row">
                            <div class="form-col">
                                <input type="text" name="name" placeholder="Имя">
                            </div>
                            <div class="form-col">
                                <input type="text" name="phone" placeholder="Телефон*">
                            </div>
                            <div class="form-col">
                                <input type="text" name="email" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="order-btn-wrap">
                            <a href="javascript:void(0)" class="send order-btn">Отправить</a>
                        </div>

                        <input type="hidden" name="from" value="Оставьте заявку сейчас. Блок - Banana Air Sofa подарок, который обязательно понравится.">
                    </form>
                </div>
            </div>
			<div id="thanks-modal">
                <div class="order-form">
                    <a href="javascript:void(0)" class="close-modal"></a>
                    <div class="order-form-title">
                        Спасибо!
                    </div>
                    <div class="order-form-subtitle">
                        мы свяжемся с Вами
                    </div>
					<div class="thanks-social-label">
						Мы в соцсетях
					</div>
					<div class="footer-social">
													<a href="https://www.instagram.com/nabanane_official" target="_blank">
								<img src="http://www.nabanane.by/templates/banana/images/elements/in-icon.png">
							</a>
																			<a href="https://www.facebook.com/nabananeofficial/" target="_blank">
								<img src="http://www.nabanane.by/templates/banana/images/elements/f-icon.png">
							</a>
																			<a href="https://vk.com/bananairsofa" target="_blank">
								<img src="http://www.nabanane.by/templates/banana/images/elements/vk-icon.png">
							</a>
																			<a href="https://www.youtube.com/c/nabananeByBanana" target="_blank">
								<img src="http://www.nabanane.by/templates/banana/images/elements/youtube-icon.png">
							</a>
											</div>
                </div>
            </div>
			<div id="bonus-modal">
                <div class="order-form">
                    <a href="javascript:void(0)" class="close-modal"></a>
                    <div class="order-form-subtitle">
						За проявленный Вами интерес к нашей рекламе дарим<br/>
                    </div>
					<div class="thanks-social-label">
						промокод НАДУЙИКАЙФУЙ со скидкой 5%<br/>
						при заказе первого BANANA<br/>
						<small>(сообщить менеджеру после оформления заказа)</small>
					</div>
                </div>
            </div>
        </div>
        <!— Yandex.Metrika counter —> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40473435 = new Ya.Metrika({ id:40473435, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40473435" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!— /Yandex.Metrika counter —>
    		<!-- Pixel -->
<script type="text/javascript">
    (function (d, w) {
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "//sas-pro.ru/pixel/index.php?img=XFZDGFVWVVxcV0dSXUcfUEo=&nid=158659&uid=1685&ref="+d.referrer+"&cookie=" + encodeURIComponent(document.cookie);

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window);
</script>
<!-- /Pixel -->
            
            
	</body>
</html>